/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- */

html{
    position: relative;
}
body{
    background-image: radial-gradient(#0d0799,#290a59);
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
    font-family: "Montserrat";
}
#wrapper{
    background-image: url(media/pattern.png);
    background-size: 500px;
    animation: 10s infinite linear background;
    padding-bottom: 150px;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
}
@keyframes background{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 500px;
    }
}
#logo{
    text-align: center;
    width: 100%;
    display: block;
}
#logo img{
    width: 200px;
}
#breve {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: darkslategray;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 4px 4px 0px 1px rgba(255,255,255,0.5);
    overflow: hidden;
}
#breve a{
    color: white;
    text-decoration: none;
    display: block;
    transition-duration: 0.3s;
}
#breve a p{
    padding: 10px;
    color: white;
}
#breve a:hover{
    background-color: white;
    color: darkslategrey;
}
#breve a:hover p{
    color: darkslategrey;
    font-weight: bold;
}
#top {
    background-color: #0A0F03;
    margin: 0 auto;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    padding-bottom: 10px;
    text-align: center;
}
li {
    display: inline-block;
}
li:hover{
    transform: scale(1.1);
}
li a{
    padding: 8px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
    display: block;
    font-weight: bold;
}
li a:hover{
    transform: scale(1.2) rotate(5deg);
    background-color: #290a59;
    color: #fff;
}
#menu {
    width: 100%;
    text-align: center;
    margin: auto;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}
#bot {
    background-color: #0A0F03;
    margin: 0 auto;
    height: 150px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bot span{
    box-sizing: border-box;
    display: inline-block;
}

#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 400px);
    position: absolute;
    left: 200px;
    bottom: 150px;
    justify-content: center;
    align-items: center;
}
#foto{
    height: 60vh;
    text-align:center;
}
#foto img{
    height: 60vh;
    transition-duration: 0.1s;
}
#foto img:hover{
    transform: scale(1.1);
}
#botoes {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    justify-content: center;
    align-items: center;
    grid-gap: 60px;
    padding: 20px 0;
}
#botoes a{
    width: 100%;
    height: 100%;
    background-color: #0A0F03;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 10px;
    transition-duration: 0.2s;
    text-decoration:none;
    fill: white;
}
#botoes a:hover{
    transform: scale(1.1) rotate(-5deg);
}



#botoes a img{
    width:80px;
    display: block;
    margin:0 auto;
    padding-top:10px;
    transition-duration:0.3s;
}

#botoes a:hover img{
    transform: scale(1.1) rotate(10deg);
}
#botoes a p{
    display: block;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    #content{
        width: 100%;
        grid-template-columns: 1fr;
        left: auto;
        bottom: auto;
        position: relative;
    }
    #botoes{
        grid-gap: 30px;
        box-sizing: border-box;
    }
    li a:hover{
        transform: scale(1.0) rotate(0deg);
    }
}
.swal2-popup{
    background: #0A0F03 !important;
}
.swal2-title{
    color: #fff !important;
}
.swal2-icon.swal2-info{
    color: #fff !important;
    border-color: #fff !important;
}
.swal2-styled.swal2-confirm{
    background-color: #290a59 !important;
}
.swal2-styled:focus{
    box-shadow: none !important;
}
iframe{
    overflow:hidden;
}